@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald';
}
:root{
    --tan-color:#292e4c;
    --navy-color: #f8f1e6;
    --cream-color: #d0c0a9;
    --tan-hover: #343b65;
    --cream-hover: #b8a890;


}
body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--navy-color); /* cream */
    color: var(--tan-color); /* navy */
}

/* Контейнер для центрирования контента */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: var(--tan-color); /* navy */
    padding: 20px 0;
    color: var(--navy-color); /* cream */
    z-index: 10;
    position: fixed;
    width: 100vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding-top: env(safe-area-inset-top, 0px);
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header .logo-inner{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header img{
    mix-blend-mode: multiply;
}
.header .logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--navy-color); /* cream */
    text-transform: uppercase;

}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.nav-links li {
    margin-left: 20px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    transition: transform 0.2s ease;
}
.nav-links li:hover{
    transform: scale(110%);
}

.nav-links a {
    color: var(--navy-color); /* cream */
    text-decoration: none;
    font-weight: 500;
    height: 100%;
}

/* Hero Section */
.hero {
    display: flex;
    background-color: var(--cream-color); /* tan */
    padding: 80px 0;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}
.hero .container{
    position: relative;
    margin-top: 6%;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--tan-color);
}
.hero h2 span{
    display: inline-block;
    color: var(--navy-color);
    transition: transform 0.2s ease;
}
.hero h2 span:hover{
    transform: scale(110%);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.hero .container .cta-btn {
    background-color: var(--tan-color); /* navy */
    color: var(--navy-color); /* cream */
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: transform 0.2s;
}

.hero .container .cta-btn:hover {
    transform: scale(1.1);
    background-color: var(--tan-hover); /* tan */
}
.img-hero {
    position: absolute;
    top: 13%;
    right: 10%;
}
.img-hero img{
    width: 20%;
    height: 20%;
    background: transparent;
}
/* Features Section */
.features {
    display: flex;
    flex-wrap: wrap; /* Чтобы элементы могли переноситься на новую строку */
    padding: 5% 0;
    text-align: center;
    margin-bottom: 3%;
}
.features .container {
    box-sizing: border-box;
    width: 100vw;
}
.features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    width: 100%;
}

.feature {
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--tan-color);
    color: var(--cream-color);
    width: 22%; 
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}
.feature:hover {
    transform: scale(105%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.feature img {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .feature {
        width: 48%; 
    }
}

@media (max-width: 480px) {
    .header .container{
        display: flex;
        flex-direction: column;
    }
    .header nav ul{
        margin-right: 6%;
    }
    .header nav ul li{
        font-size: 0.8rem;
    }
    .header .logo{
        font-size: 1.5rem;
        margin-bottom: 2%;
    }
    .header img{
        margin-bottom: 7%;
    }
    .hero .container .h2{
        margin: 0;
        height: 100px;
    }
    .features .feature-inner{
        display: flex;
    }
    .features .feature-inner .feature{
        width: 25%;
    }
    .competitors h2, p, ul{
        margin-right: 2%;
        margin-left: 2%;
    }
    .contact .container .cta-btn{
        width: 50%;
    }
    .roadmap .roadmap-inner img{
        margin-top: 35%;
        margin-left: 50%;
        display: none;
    }
    .our-team .teams .team-inner .team{
        margin: 0 2%;
    }
}
/* Roadmap Section */
.roadmap {
    background-color: var(--navy-color); /* cream */
    padding: 60px 0;
    position: relative;
}
.roadmap .roadmap-inner{
    display: flex;
}
.roadmap .container .img{
    position: absolute;
    right: 0;
    top: 0;

}
.roadmap .container img{
    mix-blend-mode: multiply;
    width: 72%;
    right: 0;
    
}
.roadmap ul {
    list-style: none;
    text-align: left;
    font-size: 1.2rem;
}

.roadmap li {
    margin-bottom: 15px;
}

/* Competitors Section */
.competitors {
    padding: 60px 0;
    text-align: center;

}
.competitors .container{
    margin-top: 6%;
    margin-bottom: 4%;
}
.competitors h2{
    margin-bottom: 2%;
}

.competitors ul {
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

.competitors li {
    margin-bottom: 10px;
    margin-top: 2%;
}

/* Contact Section */
.contact {
    background-color: var(--tan-color); /* navy */
    padding: 60px 0;
    text-align: center;
    color: var(--navy-color); /* cream */
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.4);
}
.contact .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h2{
    margin-bottom: 1%;
}
.contact p{
    margin-bottom: 3%;
}

.contact .cta-btn {
    background-color: var(--cream-color); /* tan */
    padding: 10px 20px;
    color: var(--tan-color); /* navy */
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: transform 0.2s ease;
    width: 20%;
}
.contact .cta-btn:hover{
    transform: scale(0.989);
    background: var(--cream-hover);
}

/* Footer */
.footer {
    background-color: var(--tan-color); /* navy */
    padding: 20px 0;
    color: var(--navy-color); /* cream */
    text-align: center;
}
.our-team .teams{
    max-width: 1200px;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
}
.our-team .teams .main{
    font-size: 2.5rem;
    color: var(--tan-color);
}
.our-team .teams .team-inner{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 5%;
    margin-bottom: 9%;
}
.our-team .teams .team-inner .team{
    display: flex;
    flex-direction: column;
    width: 22%;
    text-align: center;
}
.our-team .teams .team-inner .team img{
    background: var(--tan-color);
    padding: 3.3%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.2s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.our-team .teams .team-inner .team img:hover{
    background: var(--tan-hover);
    transform: scale(105%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.our-team .teams .team-inner .team h3{
    margin-top: 4%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.banks .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2%;
    margin-bottom: 2%;
}
.banks .container h3{
    font-size: 2.5rem;
    color: var(--tan-color);
}
.banks .container .bank-inner{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 100vw;
    box-sizing: border-box;
    gap: 1%;
}
.banks .container .bank-inner .bank{
    padding: 2%;
    transition: transform 0.2s ease;
}
.banks .container .bank-inner .bank:hover{
    transform: scale(105%);
}
.banks .container .bank-inner img {
    object-fit: cover;
    width: 100px;
}
